<!--Formulário-->
<div class="container text-center border rounded shadow-sm mt-36">
  <div class="row">
    <div class="col-12 col-md-6 bg-primary py-16">
      <img src="assets/signin.svg" style="width: 92%; height: 92%;">
    </div>
    <div class="col-12 col-md-6 py-16">
      <h3 class="mb-4 mt-5">Informações pessoais</h3>
      <form class="px-16">
        <input type="email" class="form-control bg-light rounded-pill no-outline m-2 px-3" placeholder="E-mail USP">
        <input type="text" class="form-control bg-light rounded-pill no-outline m-2 px-3" placeholder="Nome">
        <input type="number" class="form-control bg-light rounded-pill no-outline m-2 px-3" placeholder="Número USP">
        <input type="password" class="form-control bg-light rounded-pill no-outline m-2 px-3" placeholder="Senha">
        <button type="submit" class="btn btn-primary btn-md rounded-pill px-5 my-3">Criar conta</button>
      </form>
    </div>
  </div>
</div>
<!-------------->
