<div class="conteiner-fluid mt-36">
  <div class="row">
    <div class="col-10 col-md-3 container">
      <div class="row shadow rounded-lg bg-success border-0 py-1">
        <div class="col-8">
          <h3 class="text-white font-weight-bold">10</h3>
          <h4 class="text-white">Minha Votações</h4>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-3x fa-check-double py-3 text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-3 container">
      <div class="row shadow rounded-lg bg-danger border-0 py-1">
        <div class="col-8">
          <h3 class="text-white font-weight-bold">10</h3>
          <h4 class="text-white">Votações que participo</h4>
        </div>
        <div class="col-4 text-center">
          <i class="far fa-3x fa-calendar-alt py-3 text-white"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-16">
    <div class="row mt-2 shadow-sm py-2  w-75 bg-primary mx-auto text-center">
      <div class="col-1">
        <span class="text-white">Tipo</span>
      </div>
      <div class="col-4">
        <span class="text-white">Nome da Poll</span>
      </div>
      <div class="col-3">
        <span class="text-white">Nome do Criador</span>
      </div>
      <div class="col-2">
        <span class="text-white">N votos/N votantes</span>
      </div>
      <div class="col-2">
        <span class="text-white">Data de Criação</span>
      </div>
    </div>
    <div class="row mt-3 py-2  w-75 border-bottom mx-auto text-center">
      <div class="col-1">
        <i class="fas fa-square text-danger"  ></i>
      </div>
      <div class="col-4">
        <span>Nome da Pool</span>
      </div>
      <div class="col-3">
        <span>Nome do Criador</span>
      </div>
      <div class="col-2">
        <span>N votos/N votantes</span>
      </div>
      <div class="col-2">
        <span>Data de Criação</span>
      </div>
    </div>
    <div class="row  py-2  w-75  border-bottom  mx-auto text-center">
      <div class="col-1">
        <i class="fas fa-square text-success"  ></i>
      </div>
      <div class="col-4">
        <span>Nome da Pool</span>
      </div>
      <div class="col-3">
        <span>Nome do Criador</span>
      </div>
      <div class="col-2">
        <span>N votos/N votantes</span>
      </div>
      <div class="col-2">
        <span>Data de Criação</span>
      </div>
    </div>
  </div>
</div>
