@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.font-weight-semibold {
    font-weight: 600;
}

.text-lg {
    font-size: 1.125rem;
}

.text-light-gray {
    color: #D3D3DE;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.hover-primary:hover{
    color : #007BFF !important;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.mb-20 {
    margin-bottom: 5rem;
}

.mt-16 {
   margin-top: 4rem; 
}

.mt-36 {
    margin-top: 9rem;
}

.no-outline {
    border: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.rounded-r-pill {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px
}

.rounded-l-pill {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.border-l-primary {
    border-left: #007BFF 5px solid !important;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.border-l-danger {
    border-left:  #D9534F  5px solid !important;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.border-l-success {
    border-left:  #5CB85C  5px solid !important;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.border-t-light-gray {
    border-top:  #D3D3DE 18px solid !important;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.border-lg {
    border: #EEEEEE 1px solid;
    border-radius: .5rem;
}